.containerCarou{
    text-align: center;
    width: 60%;
    margin: 35vh auto;
}
.containerCarou > h1{
color: white;
}

.containerCarou > p{
    color: white;
}

.containerCarou > b, strong{
    color: #0088a9;
    }