.containerCarou{
    width: 100%;
    text-align: center;

    margin: 25vh auto;
    z-index: 5;
}
.containerCarou > h1{
color: white;
}

.containerCarou > p{
    font-size: 20px;
    color: white;
}

.containerCarou > b, strong{
    font-size: 20px;
}