.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1em;
}

.titleHeader{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.containerTitle{
    justify-content: center;
    align-items: center;
    display: flex;

}

a{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.linkElement{
    margin-left: 1em;
    transition: all 0.3s ease 0s;
    padding: 0 5%;
}
.linkElement a:hover{
    color: #0088a9;    
}

/* @media(min-width: 992px){
    .containerNavBar{
        display:flex;
        max-width: 960px;
    }     
}

@media(min-width: 768px){
    .containerNavBar{
        display:flex;
        max-width: 720px;
    }     
}

@media(min-width: 576px){
    .containerNavBar{
        display:flex;
        max-width: 540px;
    }     
} */

@media(min-width: 1200px){
    .containerNavBar{
        display:flex;
        justify-content:space-around;
        overflow: hidden;
        position: fixed;
        top: 0;
        margin-right: auto;
        margin-left: auto;
        /* background-color: #6610f2; */
        width: 100%;
    }     
}

.isScrolled{
    transition: all 0.5s ease;
    border-bottom: 1px solid #ccc;
    border-color: #0088a9;
    background-color: #24252a;
    z-index: 150;
}
