@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24252a ;
}

code {
font-family: Mosource-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
